(function($, jQuery) {
	jQuery.fn.${1} = function(options) {
    	options = jQuery.extend({}, jQuery.fn.${1}.defaults, options);

		return $(this).each(function() {

		});
	}
 	jQuery.fn.${1}.defaults = {

 	}
})(jQuery, jQuery);

